.daily-orders {
    display: flex;
    flex-direction: column;
    align-items: stretch; 
}

.title {
    margin: 5px;
}

.file-uploads {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.new, .processed {
    margin: 10px;
    width: 220px;
}
