.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.upload-form, .upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.submit {
    max-width: 150px;
}