.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work-orders {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.uploads, .scrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;
}

.inputs {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.title {
  margin-bottom: 0px;
}

.scrapFields {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.uploads {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
}

.add {
    top: 10px;
}

.pallet,
.repair {
  margin: 10px;
  width: 220px;
  height: 40px;
}

.date {
  display: flex;
  flex-direction: column;
  align-items: center;
}
